# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage.xml

# Go
coverage.out
/apps/*/donation-service

# Segredos locais
.env
*.env

# Terraform (Fase 3+)
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
